extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Status
            th Actions
        
        tbody
          each act in acts
            tr
              td
                a(href=`/acts/${act.id}`)= act.title
              td= act.status
              td
                a(href=`/acts/${act.id}/edit`) edit
                = " | "
                form.destroy(action="/acts/destroy", method="POST", onsubmit='return confirm("Really?");')
                  input(type="hidden", name="id", value=act.id)
                  input(type="submit", value="delete")